/org.eclipse.jdt.core.javabuilder.launch
/org.eclipse.wst.common.project.facet.core.builder.launch
/org.eclipse.wst.jsdt.core.javascriptValidator.launch
/org.eclipse.wst.validation.validationbuilder.launch
/org.hibernate.eclipse.console.hibernateBuilder.launch
/org.jboss.tools.cdi.core.cdibuilder.launch
/org.jboss.tools.jst.web.kb.kbbuilder.launch
/org.jboss.tools.ws.jaxrs.metamodelBuilder.launch
